<mat-card>
    <h1>Add New Category</h1>
    
    <mat-card-content>
        <div class="bootstrap-wrapper">
            <div class="col-md-8 offset-md-2">
                <form (ngSubmit)="formSubmit()">
                    <mat-form-field class="w100" appearance="outline">
                        <mat-label>Title</mat-label>
                        <input type=text
                        autofocus 
                        
                        name="title"
                        [(ngModel)]="category.title"
                        matInput placeholder="Enter title here"/>
                    </mat-form-field>
                    <mat-form-field class="w100" appearance="outline">
                        <mat-label>Description</mat-label>
                        <textarea 
                      
                        name="description"
                        rows="15"
                        [(ngModel)]="category.description"
                        matInput placeholder="Enter description here"></textarea>
                    </mat-form-field>
                    <div class="container text-center mt15">
                        <button mat-raised-button color="primary">Add</button>
                    </div>
                </form>
            </div>
        </div>
    </mat-card-content>
</mat-card>
