.profile-image{
    max-height: 150px;
    max-width: 150px;
    border: 1px solid black;
    border-radius: 50%;
}
.table{
    width: 100%;
    border: .5px solid #e2e2e2;
}
.table tr td{
    padding: 20px 50px;
    border: .5px solid #e2e2e2a8;
    border-collapse:collapse;
}