<mat-toolbar color="#212121">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        
     <mat-icon [routerLink]="'/'">menu_book</mat-icon>
   </button>
   <a [routerLink]="'/'">Exam Portal</a>
   <span class="example-spacer"></span>
   <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
     <mat-icon [routerLink]="'/login'">login</mat-icon>
   </button>
   <a [routerLink]="'/login'">Login</a>
   <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
    <mat-icon [routerLink]="'/signup'">how_to_reg</mat-icon>
  </button>
  <a [routerLink]="'/signup'">Register</a>
 </mat-toolbar>